
html, body {
    height: 100%;
    margin: 0;
    font-size: 62.5%;
}
.menuFont {
    font-family: Palatino;
}
#libraryContainer {
    background: #f4f1de;
    min-height: 100%;
    min-width: 100%;
}
#headerContainer {
    padding: 15px 30px 0px 30px;
}
#titleText {
    font-size: 3rem;
    font-variant: small-caps;
    color: #e07a5f;
}
#headerSeparator {
    margin: 0px 8px;
    color: #81b29a;
    display: block;
    border: 0;
    border-top: 3px solid #81b29a;
  }