
html, body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    scrollbar-width: none !important;
}
a:link, a:visited {
    color: inherit;
    text-decoration: inherit;
    font-size: inherit;
    font-family: inherit;
    letter-spacing: inherit;
}
input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid lightgray;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 16px;
    margin: 0 0 12px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
    overflow: visible;
    /*! margin-bottom: 4px; */
}
label {
    color: gray;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.1rem;
    cursor: text;
    transition: color .2s ease-out, -webkit-transform .2s ease-out;
    transform-origin: 0% 100%;
    text-align: initial;
    transform: translateY(-12px);
}
::-webkit-scrollbar {
    display: none;
}
.logged-out {
    display: flex;
}
.logged-in {
    display: none;
}
.modalOverlay {
    background: #eeeeee !important;
    opacity: 0.1;
    transition: all 0.4s;
}
.menuFont {
    font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;
    color: #e07a5f;
}
.menuButton {
    background: #797EA6;
    background-image: -webkit-linear-gradient(top, #797EA6, #3D405B);
    background-image: -moz-linear-gradient(top, #797EA6, #3D405B);
    background-image: -ms-linear-gradient(top, #797EA6, #3D405B);
    background-image: -o-linear-gradient(top, #797EA6, #3D405B);
    background-image: linear-gradient(to bottom, #797EA6, #3D405B);
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    color: #FFFFFF;
    font-family: Sans;
    font-size: 1.4rem;
    font-weight: normal;
    letter-spacing: 0.8px;
    height: 36px;
    width: 95px;
    margin: auto;
    box-shadow: 2px 3px 4px 0px #000000;
    -webkit-box-shadow: 2px 3px 4px 0px #000000;
    -moz-box-shadow: 4px 6px 12px 0px #000000;
    text-shadow: 2px 3px 4px #000000;
    border: solid #363850 1px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.1s;
    text-overflow: ellipsis;
    overflow: hidden;
}
.menuButton:hover {
    border: solid #1F202E 1px;
    background: #616691;
    background-image: -webkit-linear-gradient(top, #616691, #363850);
    background-image: -moz-linear-gradient(top, #616691, #363850);
    background-image: -ms-linear-gradient(top, #616691, #363850);
    background-image: -o-linear-gradient(top, #616691, #363850);
    background-image: linear-gradient(to bottom, #616691, #363850);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    transition: all 0.15s;
}
.submit {
    font-size: 1.2em;
}
.action {
    float: left;
    margin-right: 1em;
    font-size: 1.2rem;
    background: #81B29A;
    background-image: -webkit-linear-gradient(top, #81B29A, #497760);
    background-image: -moz-linear-gradient(top, #81B29A, #497760);
    background-image: -ms-linear-gradient(top, #81B29A, #497760);
    background-image: -o-linear-gradient(top, #81B29A, #497760);
    background-image: linear-gradient(to bottom, #81B29A, #497760);
}
.action:hover {
    background: #578E74;
    background-image: -webkit-linear-gradient(top, #578E74, #3A5F4D);
    background-image: -moz-linear-gradient(top, #578E74, #3A5F4D);
    background-image: -ms-linear-gradient(top, #578E74, #3A5F4D);
    background-image: -o-linear-gradient(top, #578E74, #3A5F4D);
    background-image: linear-gradient(to bottom, #578E74, #3A5F4D);
    transition: all 0.15s;
}
.modal {
    display: none;
    z-index: 1008;
    opacity: 1;
    top: 10%;
    transform: scaleX(1) scaleY(1);
    position: fixed;
    left: 0;
    right: 0;
    background-color: #fafafa;
    padding: 0;
    min-height: 40%;
    max-height: 65%;
    width: 45%;
    margin: auto;
    overflow-y: auto;
    border-radius: 2px;
    will-change: top, opacity;
    box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14),0 9px 46px 8px rgba(0,0,0,0.12),0 11px 15px -7px rgba(0,0,0,0.2);
    font-family: Arial, Helvetica, sans-serif;
    color: #121212;
    margin-top: 20px;
    line-height: 1.5;
    font-size: 1.3rem;
    transition: all 0.2s;
}
.modalContent {
    padding: 24px;
    margin: 0 auto;
    width: 65%;
    position: relative;
}
.modalHeader {
    margin: 1.52rem 0 .912rem 0;
    line-height: 110%;
    font-size: 2.45rem;
    font-weight: 400;
    padding-bottom: 22px;
    overflow: hidden;
    overflow-x: scroll;
    white-space: nowrap;
}
.centerHeader {
    text-align: center;
    font-size: 3.1rem;
    width: 100%;
    margin: auto;
    /* padding-bottom: 0; */
}
.userInput {
    position: relative;
    margin: 1rem 0;
    box-sizing: inherit;
    padding-bottom: 8px;
}
.account-details {
    display: grid;
    grid-template-columns: 2.2fr 3.6fr;
    grid-template-rows: repeat(4, 3rem);
    width: 85%;
    margin: 0;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 65px;
    padding-bottom: .14rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.4rem;
    grid-row-gap: .14rem;
    background: #ddddddaa;
    border: .14rem solid #ddddddaa;
    overflow: scroll;
}
.confirmStatusDetails {
    display: grid;
    grid-template-columns: 2.2fr 3.6fr;
    grid-template-rows: repeat(3, 3rem);
    width: 85%;
    margin: 0;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 65px;
    padding-bottom: .14rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.4rem;
    grid-row-gap: .14rem;
    background: #ddddddaa;
    border: .14rem solid #ddddddaa;
    overflow: scroll;
}
.modalTableField {
    text-align: right;
    background: #fafafa;
    height: inherit;
}
.modalTableValue {
    overflow-x: scroll;
    padding-left: 2rem;
    background: #fafafa;
    height: inherit;
}
.account-buttons {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5rem;
    align-items: center;
    z-index: 1010;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    margin-bottom: 15px;
}
.account-buttons-reset {
    margin-right: auto;
}
.account-buttons-delete {
    margin-left: auto;
}
.confirmStatusPrompt {
    text-align: center;
    height: 2rem;
    margin: auto;
}
.confirmStatusButton {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    margin-bottom: 15px;
    align-items: center;
}
.notifyFail {
    color: #A93E20;
}
.notifyPass {
    color: #497760;
}
.gridEntry {
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-columns: 2.5fr 1.5fr 1fr 1.5fr 1fr;
    border-bottom: 1px solid #00000044;
    overflow: auto;
    height: inherit;
}
.gridCell {
    display: flex;
    position: relative;
    height: 100%;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
}
.gridFont {
    font-family: Times;
    font-size: 1.5rem;
    text-align: center;
}
.gridHeaderFont {
    font-weight: bold;
    font-size: 2.5em;
}
.readButton {
    display: inline-block;
    padding: 0.3em 1.1em;
    border: 3px solid #3D405B;
    border-radius: 0.4em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Bookman Old Style;
    font-weight: bold;
    color: white;
    background-color: #797EA6;
    transition: all 0.2s;
}
.gridReadTrue {
    background-color: #81B29A;
}
.gridReadFalse {
    background-color: #E07A5F;
}
.readButton:hover {
    background-color: #4F5377;
    font-weight: bold;
}
.readButton:disabled,
.readButton[disabled] {
    background-color: #999999;
    color: #cccccc;
    border: 3px solid #666666;
}
.footerFont {
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    color: #FDF9F1CC !important;
    font-size: 1.8rem;
    letter-spacing: 0.04em;
    white-space: nowrap;
}
#modalContainer {
    min-height: 100vh;
    min-width: 100%;
    z-index: 1005;
    opacity: 0.94;
    display: none;
    position: fixed;
    background: #000000bb;
    transition: all 0.5s;
}
#libraryContainer {
    background: #f4f1de;
    min-height: 100vh;
    min-width: 100%;
    position: relative;
}
#headerContainer {
    padding: 0px 15px 0 15px;
    margin: 0;
    display: grid;
    background: #e07a5f33;
    grid-template-columns: minmax(0, 9fr) minmax(0, 4fr);
    grid-column-gap: 20px;
    overflow: auto;
}
#headerTitle {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 60px;
    align-content: center;
    overflow: hidden;
}
#titleText {
    font-size: 3.7rem;
    font-variant: small-caps;
    letter-spacing: 0.2rem;
    position: relative;
    margin: 0;
    margin-bottom: -4px;
}
#subtitleText {
    color: #c46b53dd;
    font-size: 1.4rem;
    letter-spacing: 1.1px;
    position: relative;
    margin: 0;
    margin-left: 3px;
    text-overflow: clip;
}
#headerMenu {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 96px);
    grid-column-gap: 0;
    justify-content: right;
    justify-items: right;
    /* overflow: auto; */
    grid-auto-flow: column;
}
#headerMenuSection {
    position: relative;
    height: 100%;
    width: 80%;
    justify-items: center;
    align-items: center;
    margin: auto;
}
#headerSeparator {
    margin: 0;
    padding: 0;
    color: #81b29a;
    display: block;
    border: 0;
    border-top: 1vh solid #81b29a;
}
#contentContainer {
    background: #FCF2E2;
    margin: 3vh auto 0 auto;
    padding: 3vh 5% 8vh 5%;
    height: 60%;
    max-width: 70%;
    box-shadow: 0px 0px 6px grey, 0px 0px 6px grey;
    overflow: scroll;
}
#userActionsContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 1.5fr 8fr 1.5fr;
    grid-row: 1;
}
#bookActionsLegacy {
    background-color: #616691;
}
#userNotifications {
    margin: auto 0;
    font-weight: 600;
    width: 100%
}
#bookActions {
    margin: auto auto auto 0;
}
#newBookButton {
    display: inline-block;
    padding: 8px 16px;
    margin: 0 0.3em 0.3em 0;
    border-radius: 1.25em;
    border-color: #AFB1C9;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Bookman Old Style;
    font-weight: bold;
    color: white;
    background-color: #69A387;
    border-width: 2px;
    transition: all 0.15s;
}
#newBookButton:hover {
    background-color: #578E74;
    border-color: #797EA6;
    font-weight: bold;
}
#bookSeparator {
    color: #3d405b;
    border: 0;
    border-bottom: 1vh solid #3d405b;
    margin: 0px;
    margin-top: 6px;
    padding: 0px;
}
#bookGridHeader {
    background-color: #fdf9f1;
    margin: 0;
    padding: 0;
    padding-right: 3px;
    display: grid;
    gap: 0vh;
    border: 1.5px solid black;
    overflow: hidden;
    grid-template-columns: 2.5fr 1.5fr 1fr 1.5fr 1fr;
    border-bottom: 1px solid #00000044;
}
#bookGridContainer {
    margin: 0;
    padding: 0;
    background-color: #fdf9f1;
    height: 71%;
    border: 1px solid black;
    position: relative;
    overflow: auto;
}
#bookGrid {
    background-color: #fdf9f1;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 0vh;
    overflow-y: auto;
}
#anonUserAlert {
    width: 100%;
    justify-content: center;
    position: absolute;
    bottom: 0;
    margin: auto;
    color: #2E3045aa;
    font-size: 2rem;
}
#footerContainer {
    background: #3d405b;
    height: 6.2vh;
    margin: 0;
    padding: 0 1vw;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    border-top: 1.25vh groove #3d405b;
    text-align: center;
    display: grid;
    grid-template-columns: 5fr 5fr;
    grid-template-rows: 6.2vh;
    column-gap: 30vw;
    overflow: hidden;
}
#footerCredits {
    text-align: left;
    align-items: center;
    display: grid;
    margin: 0;
    padding: 0;
}
#footerCreditsText {
    margin: 0;
    padding: 0;
    align-items: center;
}
#footerLink {
    padding: 0;
    margin: 0;
    text-align: right;
    align-items: center;
    display: grid;
    grid-template-columns: 8fr 2fr;
    grid-template-rows: 6vh;
}
#footerLinkText {
    align-items: center;
    width: auto;
    text-decoration: none;
    font-weight: normal;
    transition: all 0.5s;
}
#footerLinkText:hover {
    text-decoration: underline;
    font-size: 1.9rem;
}
#footerImages {
    text-align: center;
    display: block;
}
#footerGithubIcon {
    justify-content: center;
    max-height: 6vh;
    transition: all 0.2s;
    border-radius: 6.2vh;
    border: 3px solid #88888800;
}
#footerGithubIcon:hover {
    border-color: #888888dd;
}