
html, body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    scrollbar-width: none !important;
}
a:link, a:visited {
    color: inherit;
    text-decoration: inherit;
    font-size: inherit;
    font-family: inherit;
    letter-spacing: inherit;
}
::-webkit-scrollbar {
    display: none;
}
.menuFont {
    font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;
    color: #e07a5f;
}
.gridEntry {
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-columns: 2.5fr 1.5fr 1fr 1.5fr 1fr;
    border-bottom: 1px solid #00000044;
    overflow: auto;
}
.gridCell {
    display: flex;
    position: relative;
    height: 100%;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
}
.gridFont {
    font-family: Times;
    font-size: 2em;
    text-align: center;
}
.gridHeaderFont {
    font-weight: bold;
    font-size: 2.5em;
}
.readButton {
    display: inline-block;
    padding: 0.3em 1.1em;
    border: 3px solid #3D405B;
    border-radius: 0.4em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Bookman Old Style;
    font-weight: bold;
    color: white;
    background-color: #797EA6;
    transition: all 0.2s;
}
.gridReadTrue {
    background-color: #81B29A;
}
.gridReadFalse {
    background-color: #E07A5F;
}
.readButton:hover {
    background-color: #4F5377;
    font-weight: bold;
}
.readButton:disabled,
.readButton[disabled] {
    background-color: #999999;
    color: #cccccc;
    border: 3px solid #666666;
}
.footerFont {
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    color: #FDF9F1CC !important;
    font-size: 2em;
    letter-spacing: 0.04em;
    white-space: nowrap;
}
#libraryContainer {
    background: #f4f1de;
    min-height: 100vh;
    min-width: 100%;
    position: relative;
}
#headerContainer {
    padding: 0px 15px 0 30px;
    margin: 0;
    display: grid;
    background: #e07a5f33;
    grid-template-columns: 12fr 1fr;
    grid-column-gap: 2vw;
}
#headerTitle {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 60px;
    align-content: center;
    vertical-align: center;
    overflow: hidden;
}
#titleText {
    font-size: 3.5rem;
    font-variant: small-caps;
    letter-spacing: 0.2rem;
    position: relative;
    margin: 0;
    margin-bottom: -4px;
}
#subtitleText {
    color: #c46b53dd;
    margin-left: 2px;
    font-size: 1.2rem;
    letter-spacing: 1.1px;
    position: relative;
    margin: 0;
    margin-left: 3px;
    text-overflow: clip;
}
#headerFirebase {
    margin: 0;
    padding: 0;
    height: 25vh;
    overflow: scroll;
    overflow-x: hidden;
}
#firebaseui-auth-container {

}
#signInButton {
   background: #797EA6;
   background-image: -webkit-linear-gradient(top, #797EA6, #3D405B);
   background-image: -moz-linear-gradient(top, #797EA6, #3D405B);
   background-image: -ms-linear-gradient(top, #797EA6, #3D405B);
   background-image: -o-linear-gradient(top, #797EA6, #3D405B);
   background-image: linear-gradient(to bottom, #797EA6, #3D405B);
   -webkit-border-radius: 14px;
   -moz-border-radius: 14px;
   border-radius: 14px;
   color: #FFFFFF;
   font-family: Sans;
   font-size: 14px;
   font-weight: lighter;
   letter-spacing: 0.8px;
   height: 38px;
   width: 98px;
   margin: auto;
   right: 0;
   box-shadow: 3px 5px 9px 0px #000000;
   -webkit-box-shadow: 3px 5px 9px 0px #000000;
   -moz-box-shadow: 6px 10px 18px 0px #000000;
   text-shadow: 5px 3px 6px #000000;
   border: solid #363850 1px;
   text-decoration: none;
   display: inline-block;
   position: relative;
   cursor: pointer;
   text-align: center;
   align-items: center;
   transition: all 0.1s;
}
#signInButton:hover {
   border: solid #1F202E 1px;
   background: #616691;
   background-image: -webkit-linear-gradient(top, #616691, #363850);
   background-image: -moz-linear-gradient(top, #616691, #363850);
   background-image: -ms-linear-gradient(top, #616691, #363850);
   background-image: -o-linear-gradient(top, #616691, #363850);
   background-image: linear-gradient(to bottom, #616691, #363850);
   -webkit-border-radius: 18px;
   -moz-border-radius: 18px;
   border-radius: 18px;
   text-decoration: none;
   transition: all 0.3s;
}
#headerSeparator {
    margin: 0;
    padding: 0;
    color: #81b29a;
    display: block;
    border: 0;
    border-top: 1vh solid #81b29a;
}
#contentContainer {
    background: #FCF2E2;
    margin: 3vh auto 0 auto;
    padding: 3vh 3% 8vh 3%;
    height: 60%;
    max-width: 75%;
    box-shadow: 0px 0px 6px grey, 0px 0px 6px grey;
    overflow: scroll;
    scrollbar-width: none !important;
}
#newBookButton {
    display: inline-block;
    padding: 8px 16px;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2em;
    border-color: #F8F6E9;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Bookman Old Style;
    font-weight: bold;
    color: white;
    background-color: #69A387;
    transition: all 0.2s;
}
#newBookButton:hover {
    background-color: #497760;
    border-color: #4F5377;
    font-weight: bold;
}
#bookSeparator {
    color: #3d405b;
    border: 0;
    border-bottom: 1vh solid #3d405b;
    margin: 0px;
    margin-top: 6px;
    padding: 0px;
}
#bookGridHeader {
    background-color: #fdf9f1;
    margin: 0;
    padding: 0;
    padding-right: 3px;
    display: grid;
    gap: 0vh;
    grid-template-columns: 2.5fr 1.5r 1fr 1.5fr 1fr;
    border: 1.5px solid black;
    overflow: hidden;
}
#bookGrid {
    background-color: #fdf9f1;
    margin: 0;
    padding: 0;
    display: grid;
    grid-auto-rows: 50px;
    height: 75%;
    gap: 0vh;
    border: 1px solid black;
    overflow-y: auto;
    scrollbar-width: none !important;
}
#footerContainer {
    background: #3d405b;
    height: 6.2vh;
    margin: 0;
    padding: 0 2vw;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    border-top: 1.25vh groove #3d405b;
    text-align: center;
    display: grid;
    grid-template-columns: 5fr 5fr;
    grid-template-rows: 6.2vh;
    column-gap: 30vw;
    overflow: hidden;
}
#footerCredits {
    text-align: left;
    align-items: center;
    display: grid;
    margin: 0;
    padding: 0;
}
#footerCreditsText {
    margin: 0;
    padding: 0;
    align-items: center;
}
#footerLink {
    padding: 0;
    margin: 0;
    text-align: right;
    align-items: center;
    display: grid;
    grid-template-columns: 8fr 2fr;
    grid-template-rows: 6vh;
}
#footerLinkText {
    align-items: center;
    width: auto;
    text-decoration: none;
    font-weight: normal;
    transition: all 0.5s;
}
#footerLinkText:hover {
    text-decoration: underline;
    font-size: 1.1em;
}
#footerImages {
    text-align: center;
    display: block;
}
#footerGithubIcon {
    justify-content: center;
    max-height: 6vh;
    transition: all 0.2s;
    border-radius: 6.2vh;
    border: 3px solid #88888800;
}
#footerGithubIcon:hover {
    border-color: #888888dd;
}